* {
    margin: 0;
    padding: 0;
}

.Amazonia{
    margin: 0 auto;
    padding: 5%;
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    background-color: rgba(94, 94, 13, 0.7);
    font-family: 'Times New Roman', Times, serif , sans-serif, 'Arial Narrow','Franklin Gothic Medium',  Arial;
    position: absolute;
    left: 15%;
    top: 20%;
}

#principal {
    background-image:url('Amazonia.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}


nav ul {
    list-style: none;
    padding: 20;
}

nav li{
    display: inline;
}

nav ul li a{
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 25px;
}

nav ul li a:hover { 
    background-color:rgb(99, 221, 99);
    transition: .3s;  
}

#logoprincipal {
    color: white;
    object-position: unset;
    list-style: none;
    text-align: center;  
}

video {
    position: absolute;
    overflow: hidden;
    filter: invert(100%);
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#total {
    display: grid;
    height: 100%;
}

#titulo {
    position: relative;
}


#container {
    position: relative;
    bottom: 0;
}









