 body {background-color: rgb(94, 94, 13)}


#menu-horizontal ul {
        list-style: none;
        padding: 20;

        background-color: rgb(167, 165, 58);

        background-color: rgb(95, 93, 14);

    }
#menu-horizontal ul li{
        display: inline;
    }
#menu-horizontal ul li a{
        color:white;
        display: inline-block;
        text-decoration: none;
        padding: 25px;
        
    }
#menu-horizontal ul li a:hover { 
        background-color:rgb(99, 221, 99);
        transition: .3s;  
    }

    
#titulo {font-size: 100px;
        color: rgb(142, 214, 7);
        text-align: center;
    }


