 body {background-color: #e4e98d}


#menu-horizontal ul {
        list-style: none;
        padding: 20;

        background-color: #423915;

        

    }
#menu-horizontal ul li{
        display: inline;
    }
#menu-horizontal ul li a{
        color:white;
        display: inline-block;
        text-decoration: none;
        padding: 25px;
        
    }
#menu-horizontal ul li a:hover { 
        background-color:rgb(99, 221, 99);
        transition: .3s;  
    }

    
#titulo {font-size: 100px;
        color: #423915;
        text-align: center;
    }


