body {background-color: white;}

#titulo {font-size: 100px;
    color: #423915;
    text-align: center;
}

#icones {
    position: absolute;
    width: 100%;
    background-color: rgb(7,102,33);
  
}

h2  {
    text-align: center;
    color:rgb(117,193,110);
}

