body {background-color: white;}
#titulo {font-size: 100px;
    color: #423915;
    text-align: center;
}

#contato {background-color: rgba(94, 94, 13, 0.7);}

#redessociais {color:#423915; text-align: center;}

#texto{
    margin: 20px auto;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
}
.btn{
    background-color:  0 0 0 0;
    border: none;
    color: #423915;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
}
