.Amazonia{
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    width: 70%;
    height: 70%;
    box-sizing: border-box;
    background-color: rgba(94, 94, 13, 0.7);
    font-family: 'Times New Roman', Times, serif , sans-serif, 'Arial Narrow','Franklin Gothic Medium',  Arial;
    
}
body {
    background-image: url("Amazonia.jpg");
    background-clip: border-box;
    background-size: cover;
}

#menu-horizontal ul {
    list-style: none;
    padding: 20;
    background-color: rgb(94, 94, 13);
}
#menu-horizontal ul li{
    display: inline;
}
#menu-horizontal ul li a{
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    
}
#menu-horizontal ul li a:hover { 
    background-color:rgb(99, 221, 99);
    transition: .3s;  
}

#logoprincipal h1{
    color: white;
    object-position: unset;
    list-style: none;
    text-align: center;  
    }



