#titulo {
    text-align: center;
    font-size: 500%;
}
h2{
    text-align: center;
}

#imagem {
    position: relative;
    left: 19%;
    }

#texto {
   
    display: inline-block;
    width: 90%;
    box-sizing: border-box;
    background-color: rgb(117,193,110);
    position: absolute;
    left: 8%;
    top: 30%;
}

.btn-group {
    position: absolute;
    left: 19%;
}

#texto{
    margin: 20px auto;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
}




