
    
#titulo {font-size: 100px;
        color: #423915;
        text-align: center;
    }

#texto {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    width: 70%;
    height: 500%;
    box-sizing: border-box;
    background-color: rgba(94, 94, 13, 0.7);

    position: absolute;
    left: 15%;
    top: 50%;
}

.btn-group {
    position: absolute;
    left: 30%;
}

#texto{
    margin: 20px auto;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
}


